body {
	background-image: url("../images/background_gradient.png");
	background-repeat: repeat-x;
	background-size: 100% 100%;
}

.page-title {
	text-align: center;
}
.contents {
	padding:20px;
}
/*footer {
	position: fixed;
	text-align: center;
	height: 30px;
	bottom: 0;
	left: 0;
	right: 0;
}*/

.hide {
	display: none;
}

.show {
	display: block;
}

.my-pic {
	width: 300px;
    height: 300px;
    border-radius: 50%;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, transform 2s;
}

.text {
	padding-top: 15px;
}

.my-pic:hover {
    width: 400px;
    height: 400px;
}
.clearfix {
	clear: both;
}

.degree, .project {
	margin-top: 12px;
}

.contact {
	float: right;
}

.mail{
	width: 30px;
	height: 30px;
}

.linked{
	width: 27px;
	height: 27px;
}